[submodule "vendor/github.com/gin-gonic/gin"]
	path = vendor/github.com/gin-gonic/gin
	url = https://github.com/gin-gonic/gin
[submodule "vendor/github.com/golang/protobuf"]
	path = vendor/github.com/golang/protobuf
	url = https://github.com/golang/protobuf
[submodule "vendor/gopkg.in/go-playground/validator.v8"]
	path = vendor/gopkg.in/go-playground/validator.v8
	url = https://gopkg.in/go-playground/validator.v8
[submodule "vendor/gopkg.in/yaml.v2"]
	path = vendor/gopkg.in/yaml.v2
	url = https://gopkg.in/yaml.v2
[submodule "vendor/github.com/manucorporat/sse"]
	path = vendor/github.com/manucorporat/sse
	url = https://github.com/manucorporat/sse
[submodule "vendor/golang.org/x/net"]
	path = vendor/golang.org/x/net
	url = https://go.googlesource.com/net
[submodule "vendor/github.com/cloudfoundry-community/types-cf"]
	path = vendor/github.com/cloudfoundry-community/types-cf
	url = https://github.com/cloudfoundry-community/types-cf
[submodule "vendor/github.com/cloudfoundry-community/go-cfenv"]
	path = vendor/github.com/cloudfoundry-community/go-cfenv
	url = https://github.com/cloudfoundry-community/go-cfenv
[submodule "vendor/github.com/mitchellh/mapstructure"]
	path = vendor/github.com/mitchellh/mapstructure
	url = https://github.com/mitchellh/mapstructure
